<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/admin.css">
</head>
<body>

<div class="container mt-5">
    <h2>Admin Dashboard</h2>
    <form action="#" method="get">
        <input type="text" name="from" placeholder="From (Departure)">
        <input type="text" name="to" placeholder="To (Destination)">
        <input type="date" name="departure_date" placeholder="Departure Date">
        <input type="submit" value="Search">
    </form>

    <div class="button-group">
        <a href="/newflight" class="btn btn-primary my-3">Add Flight</a> 
    </div>

    
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action">
            <h5 class="mb-1">Aegean Airlines | Athens to London</h5>
            <p class="mb-1">Date: 5/4/2024 | 12:00 GMT  |   Price: $120</p>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <h5 class="mb-1">British Airlines | Athens to London</h5>
            <p class="mb-1">Date: 5/4/2024  | 23:00 GMT | Price: $230</p>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <h5 class="mb-1">Ryanair | Athens to London</h5>
            <p class="mb-1">Date: 5/4/2024 | 13:00 GMT | Price: $30</p>
        </a>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script>
$(document).ready(function(){
    $('.dropdown-toggle').dropdown();
});
</script>

</body>